In [1]:
# tipe data Boolean
print(True)

True

In [2]:
# tipe data String
print("Mari belajar python")
print("Belajar Python Sangat Dengan Mudah")

Mari belajar python
Belajar Python Sangat Dengan Mudah

In [3]:
# tipe data Integer
print(20)

20

In [4]:
# tipe data Float
print(3.14)

3.14

In [5]:
# tipe data List
print([1,2,3,4,5])
print(["satu", "dua", "tiga"])

[1, 2, 3, 4, 5]
['satu', 'dua', 'tiga']

In [6]:
#tipe data Tuple
print((1,2,3,4,5))
print(("satu", "dua", "tiga"))

(1, 2, 3, 4, 5)
('satu', 'dua', 'tiga')

In [7]:
#tipe data Dictionary
print({"nama":"Budi", 'umur':20})

{'nama': 'Budi', 'umur': 20}

In [8]:
# tipe data Dictionary dimasukan ke dalam variabel biodata
biodata = {"nama":"Andi", 'umur':21} #proses inisialisasi variabel biodata
print(biodata) #proses pencetakan variabel biodata yang berisi tipe data Dictionary
type(biodata) #fungsi untuk mengecek jenis tipe data. akan tampil <class 'dict'>

{'nama': 'Andi', 'umur': 21}

dict